<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <h1>add a dojo</h1>
            <div class="col-sm">
                <form>
                    <div class="form-group">
                        <label for="dojoname">dojo name:</label>
                        <input type="text" class="form-control" id="dojoname">
                    </div>
                    <div class="form-group">
                        <label for="location">location</label>
                        <input type="text" class="form-control" id="location" placeholder="Another input">
                    </div>
                </form>

            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
</body>

</html>